<div class="default-height">
  <p-toolbar>
    <div class="p-toolbar-group-left toolbar1">
      <span [hidden]="displaySearchReq">
        <div style="display: flex; align-items: center;">
          <ng-container *ngFor="let radio of generalFormReplySvc.searchReq.options">
            <div class="toolbar1-content">
              <p-radioButton [label]="radio.chtName" [value]="radio.label"
                [(ngModel)]="generalFormReplySvc.searchReq.type">
              </p-radioButton>
            </div>
          </ng-container>
          <div class="toolbar1-content">
            <input *ngIf="showSearchInput('chartNo')" [(ngModel)]="generalFormReplySvc.searchReq.values.chartNo"
              placeholder="請輸入病歷號" />
            <input *ngIf="showSearchInput('idNo')" [(ngModel)]="generalFormReplySvc.searchReq.values.idNo"
              placeholder="請輸入身分證號" />
          </div>
          <div class="toolbar1-content">
            <p style="display: inline;">查詢期間：</p>
          </div>
          <div class="toolbar1-content">
            <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="generalFormReplySvc.searchReq.values.date1">
            </p-calendar>
          </div>
          <div class="toolbar1-content">
            <p style="display: inline;">
              至
            </p>
          </div>
          <div class="toolbar1-content">
            <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="generalFormReplySvc.searchReq.values.date2">
            </p-calendar>
          </div>
          <div class="toolbar1-content">
            <p style="display: inline;">
              回覆狀態
            </p>
          </div>
          <div class="toolbar1-content">
            <p-dropdown [options]="replyStatusOptions" optionLabel="name" optionValue="value"
              [(ngModel)]="generalFormReplySvc.searchReq.values.status">
            </p-dropdown>
          </div>
        </div>
      </span>
      <ng-container *ngFor="let btn of toolBarButtons">
        <button pButton style="margin-left: 10px" icon="{{ btn.icon }}" type="button" label="{{ btn.title }}"
          class="{{ btn.class }}" [hidden]="btn.displayNone" [disabled]="btn.disable" (click)="btn.onClick()"></button>
      </ng-container>
    </div>
  </p-toolbar>
  <div class="chip-info-margin">
    <ng-container *ngIf="tmplInfo.tmplNo < 0">
      <span class="change">
        <p-tag icon="pi pi-info-circle" value="{{ tmplInfo.tmplNo | formType }}" severity="primary"></p-tag>
      </span>
    </ng-container>
    <ng-container *ngIf="tmplInfo.tmplNo > 0">
      <p-tag icon="pi pi-info-circle" value="{{ tmplInfo.tmplNo | formType }}" severity="success"></p-tag>
    </ng-container>

    <p-tag icon="pi pi-info-circle" value="表單編號: {{ tmplInfo.tmplNo }}" severity="info"></p-tag>
    <p-tag icon="pi pi-info-circle" value="表單名稱: {{ tmplInfo.formName }}" severity="info"></p-tag>
    <ng-container *ngIf="tmplInfo.replyRule == 10 || tmplInfo.replyRule == 11">
      <p-tag icon="pi pi-exclamation-triangle" value="限填一份" severity="warning"></p-tag>
    </ng-container>
    <ng-container *ngIf="tmplInfo.replyRule == 10 || tmplInfo.replyRule == 20">
      <p-tag icon="pi pi-exclamation-triangle" value="繳交後不可異動" severity="warning"></p-tag>
    </ng-container>
  </div>

  <div class="p-tabview">
    <ul class="p-tabview-nav">
      <li [ngClass]="{ 'p-highlight': tabClassActive }">
        <a class="p-tabview-nav-link p-ripple" (click)="onTabChange(0)"><span
            class="p-tabview-title ng-star-inserted">表單紀錄</span></a>
      </li>
      <li [ngClass]="{
          'p-highlight': !tabClassActive,
          'p-disabled': !enableTabPanel
        }" disabled>
        <a class="p-tabview-nav-link p-ripple" (click)="onTabChange(1)"><span
            class="p-tabview-title ng-star-inserted">表單內容</span></a>
      </li>
    </ul>
  </div>

  <p-tabView id="customTabUl" styleClass="tabview-default" [(activeIndex)]="tabIndex">
    <p-tabPanel header="填寫紀錄">
      <p-table [value]="replyList" selectionMode="single" [(selection)]="selectedReplyInfo" [scrollable]="true"
        [scrollHeight]="'flex'" dataKey="replyNo">
        <ng-template pTemplate="header">
          <tr>
            <th>表單編號</th>
            <th>回覆狀態</th>
            <th>回覆者</th>
            <th>回覆時間</th>
            <th>單位異動人員</th>
            <th>功能</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reply>
          <tr [pSelectableRow]="reply" (dblclick)="onReplyListClick(reply)">
            <td>{{ reply.replyNo }}</td>
            <td>{{ reply.tranStatus | formTeplyTranStatus }}</td>
            <td>{{ reply.replyUser }} {{ reply.replyUserName }}</td>
            <td>{{ reply.replyTime | date: "yyyy-MM-dd HH:mm" }}</td>
            <td>{{ reply.tranUserName }}</td>
            <td>
              <ng-container *ngFor="let btn of tableFunctionBtn">
                <button pButton style="margin-left: 10px" icon="{{ btn.icon }}" type="button" label="{{ btn.title }}"
                  class="{{ btn.class }}" [disabled]="btn.disable" (click)="btn.onClick(reply)"></button>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="表單內容" id="formIoDispplay" [disabled]="!enableTabPanel">
      <formio [readOnly]="formReadOnly" [form]="tmplInfo.formTmpl" [refresh]="triggerRefresh" [submission]="submitData"
        (change)="onChange($event)"></formio>
    </p-tabPanel>
  </p-tabView>
</div>

<p-toast key="generalFormReplyMessage" position="bottom-right"></p-toast>

<!-- 放棄填寫確認 -->
<p-toast position="center" key="confirmMessage" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="確定" class="p-button-danger"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="取消" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- 撤回確認 -->
<p-toast position="center" key="confirmWithdrawMessage" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirmWithdraw()" label="確定" class="p-button-danger"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="取消" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-dialog [header]="displayDialog[0].title" [(visible)]="displayDialog[0].visible"
  [style]="{ width: '18vw', height: '45vh' }"
  [contentStyle]="{ 'max-height': '40vh', 'font-size': '1', height: '100%' }">
  <qr-code value="{{qrCodeUrl}}" size="300" errorCorrectionLevel="M" centerImageSrc="../../assets/cmuh.png"
    centerImageSize="80"></qr-code>
  <div class="qr-url-size">{{qrCodeUrl}}</div>
</p-dialog>

<!-- 讀取資料的處理動畫 -->
<p-blockUI [blocked]="displayProgress"></p-blockUI>
<p-progressSpinner *ngIf="displayProgress" [style]="{
    width: '50px',
    height: '50px',
    position: 'fixed',
    left: '50%',
    top: '50%'
  }" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
