<div class="default-height">
  <ng-container *ngIf="showToolbar">
    <p-toolbar>
      <div class="p-toolbar-group-left toolbar1">
        <ng-container *ngFor="let btn of toolBarButtons">
          <button
            pButton
            style="margin-left: 10px"
            icon="{{ btn.icon }}"
            type="button"
            label="{{ btn.title }}"
            class="{{ btn.class }}"
            [hidden]="btn.displayNone"
            [disabled]="btn.disable"
            (click)="btn.onClick()"
          ></button>
        </ng-container>
      </div>
    </p-toolbar>
  </ng-container>

  <ng-container *ngIf="showTag">
    <div class="chip-info-margin">
      <!-- <ng-container *ngIf="tmplInfo.tmplNo < 0">
        <span class="change">
          <p-tag icon="pi pi-info-circle" value="{{ tmplInfo.tmplNo | formType }}" severity="primary"></p-tag>
        </span>
      </ng-container>
      <ng-container *ngIf="tmplInfo.tmplNo > 0">
        <p-tag icon="pi pi-info-circle" value="{{ tmplInfo.tmplNo | formType }}" severity="success"></p-tag>
      </ng-container> -->

      <p-tag
        icon="pi pi-info-circle"
        value="表單資訊:{{ tmplInfo.tmplNo | formType }}  {{
          tmplInfo.tmplNo
        }}  {{ tmplInfo.formName }}  {{ formReplyInfo.replyUserName }}"
        severity="info"
      ></p-tag>
      <!-- <p-tag icon="pi pi-info-circle" value="表單名稱: {{ tmplInfo.formName }}" severity="info"></p-tag> -->
      <ng-container
        *ngIf="tmplInfo.replyRule == 10 || tmplInfo.replyRule == 11"
      >
        <p-tag
          icon="pi pi-exclamation-triangle"
          value="限填一份"
          severity="warning"
        ></p-tag>
      </ng-container>
      <ng-container
        *ngIf="tmplInfo.replyRule == 10 || tmplInfo.replyRule == 20"
      >
        <p-tag
          icon="pi pi-exclamation-triangle"
          value="繳交後不可異動"
          severity="warning"
        ></p-tag>
      </ng-container>
    </div>
  </ng-container>
  <div style="height: 100%; overflow: auto">
    <formio
      #formIo
      [viewOnly]="true"
      [form]="tmplInfo.formTmpl"
      [refresh]="triggerRefresh"
      [submission]="submitData"
      (change)="onChange($event)"
    ></formio>
  </div>
</div>

<p-toast key="generalFormReplyMessage" position="bottom-right"></p-toast>

<!-- 放棄填寫確認 -->
<p-toast
  position="center"
  key="confirmMessage"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="確定"
            class="p-button-danger"
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="取消"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- 撤回確認 -->
<p-toast
  position="center"
  key="confirmWithdrawMessage"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirmWithdraw()"
            label="確定"
            class="p-button-danger"
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="取消"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- 讀取資料的處理動畫 -->
<p-blockUI [blocked]="displayProgress"></p-blockUI>
<p-progressSpinner
  *ngIf="displayProgress"
  [style]="{
    width: '50px',
    height: '50px',
    position: 'fixed',
    left: '50%',
    top: '50%'
  }"
  styleClass="custom-spinner"
  strokeWidth="8"
  fill="#EEEEEE"
  animationDuration=".5s"
></p-progressSpinner>
