.toolbar1 {
  display: flex;
  align-items: center;
  // padding: 0.5rem;
}
.toolbar1-content {
  display: inline;
  margin: 0 10px 0 0;
}
:host ::ng-deep .p-toolbar {
  padding: 0.5rem 0.5rem;
}

// 給高度，扣掉外層的
.default-height {
  height: 100%;
}
:host ::ng-deep {
  .p-tabview-panels {
    height: calc(100%);
    overflow: auto;
  }
}
:host ::ng-deep {
  .p-tabview-panel {
    height: 100%;
    overflow: auto;
  }
}
// tabView預設高度
:host ::ng-deep {
  .tabview-default {
    margin-top: 5px;
    width: 100%;
    // 減掉toolBar高度
    height: calc(100% - 134px);
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
    background-color: #e1cfe7;
    border: solid #8a427a;
    border-width: 0 0 0 6px;
    color: #2c1e30;
    .p-toast-icon-close {
      color: #2c1e30;
    }
  }
}
.chip-info-margin {
  margin: 5px;
}

:host ::ng-deep {
  .change {
    p-tag {
      span {
        background: #caccd1;
      }
    }
  }
}
:host ::ng-deep {
  p-tag {
    span {
      margin: 2px;
    }
  }
}

:host ::ng-deep #customTabUl {
  ul {
    display: none;
  }
}

:host ::ng-deep #formIoDispplay {
  ul {
    display: block;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.3rem;
  border: 1px solid #dee2e6;

  color: white;
  font-size: 16px;
  background: #008e77;
  transition: box-shadow 0.15s;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  padding: 0.3rem;
  border: 1px solid #dee2e6;
  font-size: 16px;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 20px;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background: #03a9f4;
  color: #fdfdfd;
}

.qr-url-size {
  font-size: 12px;
}
